.address{
    padding: 10rpx 0;
    border-bottom: 1px solid #ccc;
    .btn_address{
        color: #333;
        background-color: #f8f8f8;
        border: 1px solid #dddddd;
        font-weight: normal;
    }
}